<% include ../shared/header %>

<h1>Grocery List Manager</h1>

<% if (user) { %>
<a href="/groceries/add">Add a New Food Item</a>
<% } %>

<table class="table table-striped table-hover">
    <tr>
        <th>Colour</th>
        <th>Category</th>
        <th>Price</th>
        <% if (user) { %>
            <th>Calories</th>
        <% } %>
    </tr>
    <% for(let i = 0; i < grocery.length; i++) { %>
        <tr>
            <td><%= grocery[i].colour %></td>
            <td><%= grocery[i].category %></td>
            <td><%= grocery[i].price %></td>
            <td><%= grocery[i].calories %></td>
            <% if (user) { %>
            <td>
                <a class="btn btn-info" href="/groceries/edit<%= grocery[i]._id %>">Edit</a>
                <a class="btn btn-danger" href="/groceries/delete/<%= grocery[i]._id %>" onclick="return confirm('Are you sure you want to delete this?');">Delete</a>
            </td>
            <% } %>
        </tr>
    <% } %>
</table>

<% include ../shared/footer %>  


